.home-control {
    list-style: none;
    margin-top: 30px;
}

.home-control .home-item{
    float: left;
    border: 3px solid #388FCB;
    border-radius: 10px;
    margin: 40px 30px;
    background-color: #d5d5d5d5;
}

.home-control .home-item span{
    font-size: 125px;
    padding: 25px;
}